.centrum {
  /* тимчасово */
  background-color: red;
}
.centrum-title {
  color: var(--white-text);
}
.centrum-btn {
  color: var(--white-text);
}

.features {
}
.features-items {
}
.features-items-title {
  color: var(--black-text);
}
.features-items-text {
  color: var(--gray-text);
}

.servises {
}
.servises-title {
  color: var(--black-text);
}
.servises-items {
}

.team {
}
.team-title {
  color: var(--black-text);
}
.team-items {
}
.team-items-name {
  color: var(--black-text);
}
.team-items-text {
  color: var(--gray-text);
}
