.filters {
}
.list-filters {
}
.list-filters-btn {
  color: var(--black-text);
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.projects {
}
.projects-list {
}
.project-title {
  color: var(--black-text);
  font-style: 400;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}
.projects-text {
  color: var(--gray-text);
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
